Backend/alembic/versions/3fe746b7e3a4_init_schema.py
.DS_Store
.env
__pycache__/
.vscode/
.idea/
.venv/

# pyproject.toml
.python-version
uv.lock
Backend/api_examples.http
alembic.ini
Backend/alembic/versions/fd0a6310116c_add_matches_relationship_to_user_model.py
Backend/vector_hm491_at_snu.edu.in.json
